html {
  font-size: 10px;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

input {
  border-radius: .4rem;
  border: 1px solid #ccc;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}